a {
  color: black;
  text-decoration: underline;
  font-weight: bold;
}

figcaption {
 font-family: 'Neuton', serif;
 font-weight: 400;
 text-align: center;
}

#logo{
  text-align: center;
  padding-bottom:1.5%;
}

@media (max-width:1200px){
  body{
    font-family: 'Neuton', serif;
    font-weight: 200;
    padding-top: 2%;
    padding-left: 10%;
    padding-right: 10%;
  }
}

@media (min-width:1201px){
  body{
    font-family: 'Neuton', serif;
    font-weight: 200;
    padding-top: 2%;
    padding-left: 22%;
    padding-right: 22%;
  }
}

.entryContainer{
  padding-bottom: 3%;
}

.heading{
  text-align:center;
}

.content{
  hyphens: auto;
  text-align: justify;
  float: left;
}

.overview-link {
  color: black;
  font-weight: 200;
  text-decoration: none;
}

.small-img-left {
  width: 25%;
  height: auto;  
  margin-bottom: 1em;
  margin-right: 1em;
  margin-left: 1em;
  float: left;
}

.small-img-right {
  width: 25%;
  height: auto;  
  margin: 1em;
  float: right;
}

figcaption {
  color: grey;
}

.medium-img-left {
  width: 50%;
  height: auto;
  margin: 1em;
  float: left;  
}

.medium-img-right {
  width: 50%;
  height: auto;
  margin: 1em;
  float: right;  
}

.big-img {
  width: 100%;
  height: auto;
  margin-bottom: 1em;
  margin-top: 1em;
}