html {
    font-family: "Lucida Console", Monaco, monospace;
}

.centered {
    text-align: center;
}

pre {
    background: #F8F8FF;
    border: black dashed 1px;
    padding: 6px;
}

a {
    color: #66d693;
    font-weight: bolder;
}

body {
    margin-left: 5%;
    margin-right: 5%;
}

@media screen and (min-width: 500px) {
    body {
        margin-left: 20%;
        margin-right: 20%;
    }
}