<!doctype html>
<html lang="en-GB">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<head>
	<title>#title#</title>
	<!--Main Stylesheet-->
	<link rel="stylesheet" href="../main.css">
</head>

<body>
	<div class=entryContainer>
		<div class="heading">
			<h2>#title#</h3>
			<h6>#date#</h6>
		</div>
		<div class="content">#content/500#</div>
	</div>
</body>

</html>